{% extends 'base.html' %}
{% block body_block %}
    <h1>{{post.id}}</h1>
    <h1>{{post.title}}</h1>
    <h1>{{post.content}}</h1>
    <h1>{{post.created_at}}</h1>
    <a href="/posts/{{post.id}}/delete">삭제</a>
    <a href="/posts/{{post.id}}/edit">수정</a>
    <form action="/posts/{{post.id}}/comments" method='post'>
        작성자 : <input type="text" name="creator" />
        댓글 : <input type="text" name="content"/>
        <input type='submit'/>
    </form>
    {% for comment in post.comments %}
        <p>{{comment.creator}} : {{comment.content}}</p>
        <p>{{comment.created_at}}</p>
        <a href="/comment/{{comment.id}}/delete">댓글삭제</a>
    {% endfor %}
{% endblock %} 